<div class="planets-content">
    <h2>Planets</h2>
    <div class="row">

        <div class="col-sm-10">
            <div class="row">
                planet content...
            </div>
        </div>

    </div>
</div>